<div class="ba-highchart__container pos--rel">
    <div class="ba-highchart__separator ba-highchart--eq-height">
        <div ng-show="view.isSuspended" class="ba-overlay--secondary">
            <div class="ba-overlay__message__icon">
                <span class="ba-spinner--tiny"></span>
            </div>
            <p class="ba-overlay__message__text">Loading &hellip;</p>
        </div>
        <baasic-metering-chart ng-show="!view.isSuspended && hasResults" chart-config="requestChartConfig" chart-title="chartTitle"></baasic-metering-chart>
        <div ng-show="!hasResults && !view.isSuspended" class="t--center">
			<?xml version="1.0" encoding="utf-8"?>
			<!-- Generator: Adobe Illustrator 16.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
			<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="170px" height="170px" viewBox="0 0 170 170" enable-background="new 0 0 170 170" xml:space="preserve">
				<g>
				
					<path fill="none" stroke="#CCCCCC" stroke-width="1.8541" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M159.94,81.934c0.04,1.001,0.06,2.007,0.06,3.017c0,41.441-33.579,75.035-75,75.035s-75-33.594-75-75.035
					c0-26.925,14.176-50.538,35.469-63.776"/>
					<g>
					
						<path fill="none" stroke="#FF4553" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="11.1244" d="
						M159.996,86c0,0,0.004-0.563,0.004-0.641c0-41.44-33.579-75.238-75-75.238c-15.466,0-29.835,4.993-41.772,13.018L84.146,86
						H159.996z"/>
					</g>
				</g>
			</svg>
            <p class="t--small t--light ba-spc--med">Currently, there’s no data available.</p>
        </div>
    </div>
    <div class="group">
        <button type="button" ng-mousedown="reload()" class="ba-btn --secondary --tny +radial"><i class="ba-icon ba-icon--tny">refresh</i>Refresh</button>
        <span class="ba-btn--spacer"></span>
        <a class="ba-btn --secondary --tny +radial" ng-if="applicationIdentifier || viewMoreRedirectState" ng-click="goToApp()" title="View more information on application dashboard">
            View more
        </a>
    </div>
</div>
