<div class="ba-highchart__separator ba-highchart--eq-height">
	<div ng-show="view.isSuspended" class="ba-overlay--secondary">
		<div class="ba-overlay__message__icon">
			<span class="ba-spinner--tiny"></span>
		</div>
		<p class="ba-overlay__message__text">Loading &hellip;</p>
	</div>
    <baasic-metering-chart ng-show="!view.isSuspended && hasResults" chart-config="requestChartConfig" chart-title="chartTitle"></baasic-metering-chart>
	<div ng-show="!hasResults && !view.isSuspended" class="t--center">
		<?xml version="1.0" encoding="utf-8"?>
		<!-- Generator: Adobe Illustrator 16.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
		<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="127.559px" height="127.559px" viewBox="21.221 21.221 127.559 127.559"
			 enable-background="new 21.221 21.221 127.559 127.559" xml:space="preserve">
			<g>
				<path fill="none" stroke="#CCCCCC" stroke-width="1.4283" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M142.73,82.65c0.032,0.771,0.047,1.546,0.047,2.324c0,31.925-25.868,57.805-57.777,57.805s-57.777-25.88-57.777-57.805
				c0-20.742,10.92-38.933,27.324-49.131"/>
				<g>
					<path fill="none" stroke="#FF4553" stroke-width="1.5407" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="8.5698" d="
					M142.774,85.783c0,0,0.003-0.434,0.003-0.494c0-31.924-25.868-57.961-57.777-57.961c-11.915,0-22.984,3.846-32.18,10.029
					l31.522,48.426H142.774z"/>
				</g>
			</g>
		</svg>
        <p class="t--small t--light ba-spc--med">Currently, there’s no data available.</p>
	</div>
</div>

<div class="group">
	<button type="button" ng-mousedown="reload()" class="ba-btn --secondary --tny +radial"><i class="ba-icon ba-icon--tny">refresh</i>Refresh</button>
	<span class="ba-btn--spacer"></span>
	<a class="ba-btn --secondary --tny +radial" ng-if="applicationIdentifier || viewMoreRedirectState" ng-click="goToApp()" title="View full stats">
		View full stats
	</a>
</div>
