/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.footer {
    padding: calc($unit * 3) 0;
    margin: calc($unit * 2) 0;
    @mixin type-scale $type-small, 0.75;
    color: color(black whiteness(+60%));
}
