/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    /**
     * Input base
     */
    display: inline-block;
    width: 100%;

    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    appearance: none;
    transition: border-color 200ms;
    -webkit-appearance: none;
    border-radius: $global-radial;
    background-color: white;

    /**
     * Input base project styling
     */
    font-family: $ff-sans;
    border: 1px solid color(white blackness(+30%));

    &::placeholder {
        color: color(white blackness(+60%));
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &:invalid {
        border: 1px solid $color-warning;
    }
    &:focus {
        outline: 0;
        border-color: color($color-primary lightness(+40%));
    }
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

    /**
     * Input types
     */
    &--text {
        @mixin type-scale $type-small, 1;
        padding: calc($unit * 1.5);
        width: 100%;
    }
    &--textarea {
         padding: calc($unit * 1.5);
         width: 100%;
         max-width: 100%;
    }
    &--select, &--date {
        padding: calc($unit * 1.5);
        background-image: url(../img/ic_arrow_drop_down_black_24px.svg);
        background-repeat: no-repeat;
        background-size: calc($unit * 4) calc($unit * 4);
        background-position: 99% center;
        vertical-align: middle;
    }
    &--date {
        background-image: url(../img/ic_date_range_black_24px.svg);
    }
    &--search {
        padding: calc($unit * 1.5);
        background-image: url(../img/ic_search_black_24px.svg);
        background-repeat: no-repeat;
        background-size: calc($unit * 4) calc($unit * 4);
        background-position: 99% center;
        vertical-align: middle;
    }
    &--check,
    &--radio {
        opacity: 0;
        position: absolute;
        & + label {
            transition: all 250ms ease-in-out;
        }
        &:checked {
            & + label {
                color: white;
                background-color: $color-primary;
                opacity: 1;
                /*&:before {
                    background-repeat: no-repeat;
                    background-position: center center;
                }*/
            }
        }
        &:focus {
            & + label {
                outline: none;
                /*&:before {
                    box-shadow: 0 0 10px rgba(0,0,0,0.4);
                }*/
            }
        }
    }
    &--check {
        &:checked {
            & + label {
                /*&:before {
                     background-image: url(../img/ic_check_box_black_24px.svg);
                    background-color: red;
                }*/
            }
        }
    }

    &--warning {
        border: 1px solid $color-warning;
    }

    &--currency {
        background-image: url(../../assets/img/money-icon.svg);
        background-repeat: no-repeat;
        background-position: 1% center;
        padding-left: 5% !important;
    }

    /**
     * Input sizes
     */
    &--sml {
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        padding: 0 calc($unit * 1);
    }
    &--med {
        height: calc($unit * 6);
        line-height: calc($unit * 6);
        padding: 0 calc($unit * 2);
    }
    &--lrg {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        padding: 0 calc($unit * 3);
    }
}
