/*------------------------------------*\
    # modules.btn
\*------------------------------------*/

.btn {

    /**
     * Button base
     */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 0;

    &:focus {
        outline: 0;
    }

    /**
     * Button base project styling
     */
    font-family: $ff-sans;
    font-weight: $type-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;

    /**
     * Button styles
     */
    &--primary {
        background: $color-primary;
        color: white;
        &:hover {
            background: color($color-primary blackness(+10%));
        }
    }
    &--secondary {
        background: $color-secondary;
        color: white;
        &:hover {
            background: color($color-secondary blackness(+10%));
        }
    }
    &--ghost {
        @mixin type-scale $type-small, 1;
        background-color: transparent;
        color: $color-secondary;
        font-weight: $type-weight-regular;
        border: 1px solid $color-primary;
        border-radius: calc($global-radial * 2);
        opacity: 0.3;
        transition: all 250ms ease-in-out;
        &:hover {
            //color: color($color-primary blackness(+10%));
            transform: translateY(-2px);
            opacity: 1;
        }
    }

    /**
     * Button sizes
     */
    &--sml {
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        padding: 0 calc($unit * 2);
    }
    &--med {
        height: calc($unit * 6);
        line-height: calc($unit * 6);
        padding: 0 calc($unit * 3);
    }
    &--lrg {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        padding: 0 calc($unit * 4);
    }

}
