<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<main ui-view role="main" smooth-scroll>

</main>

<footer class="footer smm type--center" role="contentinfo">
    <div class="spc--bottom--med">
    	<a class="smm__link" href="https://www.facebook.com/baasical/">
    	    <img src="assets/img/smm-facebook.svg" alt="Facebook" class="smm__icon">
    	</a>
    	
    	<a class="smm__link" href="https://www.linkedin.com/showcase/10580261">
    	    <img src="assets/img/smm-linkedin.svg" alt="LinkedIn" class="smm__icon">
    	</a>
    	
    	<a class="smm__link" href="http://twitter.com/baasical">
    	    <img src="assets/img/smm-twitter.svg" alt="Twitter" class="smm__icon">
    	</a>
    	
    	<a class="smm__link" href="https://github.com/Baasic">
    	    <img src="assets/img/smm-github.svg" alt="GitHub" class="smm__icon">
    	</a>
    	<a class="smm__link" href="https://plus.google.com/+Baasical">
    	    <img src="assets/img/logo-googleplus.svg" alt="Google+" class="smm__icon">
    	</a>
    </div>

    <div class="footer__info">
        <p class="spc--bottom--sml">Copyright (c) 2017 Mono Software</p>
        <p>Powered by <a href="http://www.baasic.com">Baasic</a></p>
    </div>
</footer>

