<article class="post">
    <div class="post__header">
        <div class="post__holder" style="background-image: url('')">
            <div class="post__content col col--half col--center center">
                <h1 class="post__title spc--bottom--lrg spc--inside--tb--med">Baasic BMW K-BUS With RaspberryPI Showcase</h1>
                <div class="post__hero-holder spc--bottom--med">
                    <div class="post__hero-holder--cell">
                        <hr class="post__line">
                    </div>
                    <div class="post__hero-holder--cell">
                        <hr class="post__line">
                    </div>
                </div>
            </div>
            <div class="overlay__hero"></div>
        </div>
    </div>
    <div class="col col--third col--center post__wrapper spc--inside--tb--med offset--top--lrg">
        <div class="post__infobox">
            <baasic-metering-drive-chart filter="driveFilter"></baasic-metering-drive-chart>
        </div>
        <div class="post__infobox">
            <baasic-metering-ambient-chart filter="ambientFilter"></baasic-metering-ambient-chart>
        </div>
        <div class="post__infobox">
            <baasic-metering-commands-chart filter="commandsFilter"></baasic-metering-commands-chart>
        </div>
        <div class="post__infobox">
            <div>
                <a href="javascript:void();" ng-click="updateLowBeamState(!syncData.data.state.lightLowBeam)">Low Beam {{syncData.data.state.lightLowBeam}}</a>
                <a href="javascript:void();" ng-click="updateHighBeamState(!syncData.data.state.lightHighBeam)">High Beam {{syncData.data.state.lightHighBeam}}</a>
                <a href="javascript:void();" ng-click="updateTurnSignalState(!syncData.data.state.lightTurnSignal)">Turn Signal {{syncData.data.state.lightTurnSignal}}</a>
            </div>
        </div>
        <div class="post__infobox">
            <baasic-profile author-id="authorId"></baasic-profile>
        </div>
    </div>
</article>