/*------------------------------------*\
    # components.header
\*------------------------------------*/

/* Example of postcss-inline-svg */

.header {
	background-color: $color-primary;
	padding: $spacer;

	&__identity {
    	border-bottom: 1px solid color(white a(0.4));
    	padding-bottom: $spacer;
	}
}
