/*------------------------------------*\
    # util.spacers
\*------------------------------------*/

.spc {
    &--top {
        &--sml {
            margin-top: calc($unit * 2);
        }
        &--med {
            margin-top: calc($unit * 4);
        }
        &--lrg {
            margin-top: calc($unit * 6);
        }
        &--xlrg {
            margin-top: calc($unit * 8);
        }
    }
    &--bottom {
        &--sml {
            margin-bottom: calc($unit * 2);
        }
        &--med {
            margin-bottom: calc($unit * 4);
        }
        &--lrg {
            margin-bottom: calc($unit * 6);
        }
        &--xlrg {
            margin-bottom: calc($unit * 8);
        }
    }
}
