/*------------------------------------*\
    # util.icon
\*------------------------------------*/

.icon {
    display: inline-block;
	opacity: 0.3;

    background-repeat: no-repeat;
    background-position: center center;

    transition: all 250ms ease-in-out;
    vertical-align: middle;

    &:hover {
    	transform: translateY(-2px);
		opacity: 1;
    }

	&--med {
	    width: calc($unit * 10);
	    height: calc($unit * 10);
	    background-size: calc($unit * 6);
	}

	&--filled {
		border: 1px solid $color-primary;
		padding: calc($unit * 3);

		&--active {
			background-color: $color-primary;
		}
	}

	&--rounded {
		border-radius: $global-rounded;
	}

	&--lights {

		&--low {
        	background-image: svg-load(../images/low-lights.svg, fill: $color-secondary);
	    
	        &--on {
		        background-image: svg-load(../images/low-lights.svg, fill: white);
	        }

		}

		&--high {
        	background-image: svg-load(../images/high-lights.svg, fill: $color-secondary);

        	&--on {
		        background-image: svg-load(../images/high-lights.svg, fill: blue);
	        }
		}
	}

	&--blinker {

		&--left {
        	background-image: svg-load(../images/blinker-left.svg, stroke: $color-secondary, fill: transparent);
	    
	        &--on {
		        background-image: svg-load(../images/blinker-left.svg, stroke: white, fill: transparent);
	        }

		}

		&--right {
        	background-image: svg-load(../images/blinker-right.svg, stroke: $color-secondary, fill: transparent);

        	&--on {
		        background-image: svg-load(../images/blinker-right.svg, stroke: white, fill: transparent);
	        }
		}
	}

	&--lock {
		background-image: svg-load(../images/lock.svg, stroke: $color-secondary, fill: transparent);

        &--on {
        	background-image: svg-load(../images/lock.svg, stroke: white, fill: transparent);
        }
	}

	&--window {
		background-image: svg-load(../images/window-left.svg, stroke: $color-secondary, fill: transparent);

        &--opened {
        	background-image: svg-load(../images/window-left.svg, stroke: white, fill: transparent);
        }
	}

	&--doors {
		background-image: svg-load(../images/doors.svg, stroke: $color-secondary, fill: transparent);

        &--opened {
        	background-image: svg-load(../images/doors.svg, stroke: white, fill: transparent);
		}
	}

	&--hood {
		background-image: svg-load(../images/hood.svg, stroke: $color-secondary, fill: transparent);

        &--opened {
        	background-image: svg-load(../images/hood.svg, stroke: white, fill: transparent);
		}
	}

	&--trunk {
		background-image: svg-load(../images/trunk.svg, stroke: $color-secondary, fill: transparent);

        &--opened {
        	background-image: svg-load(../images/trunk.svg, stroke: white, fill: transparent);

		}
	}
}
