/*------------------------------------*\
    # utils.floats
\*------------------------------------*/

.pull {
    @media (--screen-from-sml) {
    	float: left;
	}
}
.push {
    @media (--screen-from-sml) {
	    float: right;
    }
}

.center {
    margin: 0 auto;
}
