/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

/**
 * Generic colors
 * Color naming taken from: http://www.color-blindness.com/color-name-hue/
 */

/**
 * Brand colors
 */
$deep-sky-blue:		#00c2e8;
$red-orange:		#ff2c3b;

/**
 * Global text color
 */
$color-text:        #575756;

/**
 * Theme colors
 */
$color-primary:     $deep-sky-blue;
$color-secondary: 	$red-orange;

/**
 * Utility colors
 */
$color-warning:     #f44336;
$color-success:     #4caf50;
$color-note:        #ffeb3b;
